$primaryColor: #919191; // Temp //
$secondaryColor: #e2e2e2;
$fontColor: #241818;
$menuColor: #4b6b4d;

$defaultFont: "Exo", sans-serif;
$lightWeight: 100;
$normalWeight: 400;
$boldWeight: 500;

$gutter: 16px;
